<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >

    <head>
        <meta charset="UTF-8">
        <title >[[#{login.title}]]</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <link rel="stylesheet" th:href="@{~/www.w3schools.com_w3css_4_w3.css}">

        <link rel="stylesheet" th:href="@{~/cdnjs.cloudflare.com_ajax_libs_meyer-reset_2.0_reset.min.css}">
        
        <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
        <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
        <link rel='stylesheet prefetch'  th:href='@{~/maxcdn.bootstrapcdn.com_font-awesome_4.3.0_css_font-awesome.min.css}' >

        <link rel="stylesheet"  th:href="@{~/style.css}">


    </head>

    <body>


        <div class="container" style="max-width: 320px">
            <div class="info">
                <h1 th:text="#{login.faculte}">UNIVERSITÉ</h1><span>Réalisé par <a th:text="#{login.author}" href="https://www.facebook.com/ben.benfery.9">Belloumi Khedra</a></span>
            </div>
        </div>
        <div class="form" style="max-width: 320px" >
            <div class="thumbnail"><img th:src="@{~/hat.svg}"/></div>
            <form  class="register-form" th:object="${userForm}" th:action="@{~/login/register}" method="post">
                <input type="hidden" th:field="*{id}"  />
                <input type="text"  th:placeholder="#{login.user}" th:field="*{username}"  placeholder="name"/>
                <input type="password" th:placeholder="#{login.password}" th:field="*{password}" placeholder="password"/>
                <input type="text" th:placeholder="#{login.email}" th:field="*{email}" placeholder="email address"/>
                <button type="submit" th:text="#{login.register}" >create</button>
                <p  class="message">[[#{login.registred.question}]] <a  href="#">[[#{login.signin}]]</a></p>
            </form>
            <form class="login-form" th:object="${userForm}" th:action="@{~/login/connect}" method="post" style="max-width: 320px">
                <input type="text"  th:placeholder="#{login.user}"  th:field="*{username}"  placeholder="username"/>
                <input type="password" th:placeholder="#{login.password}" th:field="*{password}"  placeholder="password"/>
                <button type="submit" th:text="#{login.signin}" >login</button>
                <div class="message">
                 <p th:inline="text" class="message">[[#{login.not.registred.question}]]
                     <a th:text="#{login.create}" href="#">Create an account</a>
                 </p>
                </div>
                
            </form>
            <br>
            <p style=" color: #EF3B3A;  text-decoration: none;">[[${login_error_message}]]</p>
        </div>
        <video id="video" autoplay="autoplay" loop="loop" poster="polina.jpg">
            <source src="http://andytran.me/A%20peaceful%20nature%20timelapse%20video.mp4" type="video/mp4"/>
        </video>
        <script th:src='@{~/cdnjs.cloudflare.com_ajax_libs_jquery_2.1.3_jquery.min.js}'></script>



        <script  th:src="@{~/index.js}"></script>




    </body>

</html>
